.header {
    width: calc(100% - 200px);
    height: 68px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $tablette-size) {
        width: calc(100% - 30px);
        height: 46.88px;
    }

    svg {
        @media screen and (min-width: $phone-size) and (max-width: $tablette-size) {
            width: 145px;
            height: 46.88px;
        }
    }

    ul {
        display: flex;
        list-style: none;
        @media screen and (max-width: $tablette-size) {
            width: 160px;
            justify-content: space-between;
        }

        .li {
            width: 136px;
            height: 34px;
            display: flex;
            justify-content: end;
            align-items: end;
            font-size: 24px;
            font-weight: 500;
            @media screen and (max-width: $tablette-size) {
                width: 68px;
                font-size: 12px;
                height: 19px;
            }
            
            &--text1 {
                text-decoration: none;
                color: black;
                border-bottom: 2px solid black;
                height: 28px;
                @media screen and (max-width: $tablette-size) {
                    height: 14px;
                    border-bottom: 1px solid black;
                }
                
                &:before {
                    content: "Accueil";
                    @media screen and (max-width: $tablette-size) {
                        content: "ACCUEIL";
                    }
                }
            }
            
            &--text2 {
                text-decoration: none;
                color: black;
                border-bottom: 2px solid rgba(0, 0, 0, 0);
                height: 28px;
                @media screen and (max-width: $tablette-size) {
                    height: 14px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0);
                }

                &:before {
                    content: "A Propos";
                    @media screen and (max-width: $tablette-size) {
                        content: "A PROPOS";
                    }
                }
            }
        }
    }
}