@keyframes ArrowUpMoove {
  to {
    transform: rotate(180deg);
  }
}
@keyframes ArrowDownMoove {
  to {
    transform: rotate(180deg);
  }
}
@keyframes HeightUp {
  to {
    height: 100%;
    padding: 10px 20px 10px 15px;
  }
}
.header {
  width: calc(100% - 200px);
  height: 68px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 30px);
    height: 46.88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header svg {
    width: 145px;
    height: 46.88px;
  }
}
.header ul {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header ul {
    width: 160px;
    justify-content: space-between;
  }
}
.header ul .li {
  width: 136px;
  height: 34px;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .header ul .li {
    width: 68px;
    font-size: 12px;
    height: 19px;
  }
}
.header ul .li--text1 {
  text-decoration: none;
  color: black;
  height: 28px;
}
@media screen and (max-width: 768px) {
  .header ul .li--text1 {
    height: 14px;
    border-bottom: 1px solid black;
  }
}
.header ul .li--text1:before {
  content: "Accueil";
}
@media screen and (max-width: 768px) {
  .header ul .li--text1:before {
    content: "ACCUEIL";
  }
}
.header ul .li .blackBorder {
  border-bottom: 2px solid black;
}
.header ul .li .invisibleBorder {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.header ul .li--text2 {
  text-decoration: none;
  color: black;
  height: 28px;
}
@media screen and (max-width: 768px) {
  .header ul .li--text2 {
    height: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
}
.header ul .li--text2:before {
  content: "A Propos";
}
@media screen and (max-width: 768px) {
  .header ul .li--text2:before {
    content: "A PROPOS";
  }
}

.MainHome {
  width: calc(100% - 200px);
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .MainHome {
    width: calc(100% - 30px);
  }
}
.MainHome--CardTitle {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-image: url("/images/eric_muhrbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media screen and (max-width: 768px) {
  .MainHome--CardTitle {
    width: 100%;
    max-width: 335px;
    height: 111px;
    border-radius: 10px;
    margin-left: 1.5px;
  }
}
.MainHome--CardTitle .BoxShadowCard {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainHome--CardTitle .BoxShadowCard {
    width: 100%;
    max-width: 335px;
    height: 111px;
    justify-content: start;
    border-radius: 10px;
  }
}
.MainHome--CardTitle .BoxShadowCard--text {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6), 1px 1px black, 1px 1px black;
  font-size: 48px;
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 768px) {
  .MainHome--CardTitle .BoxShadowCard--text {
    width: 220px;
    font-size: 24px;
    margin-left: 15px;
  }
}
.MainHome--BoxLogements {
  margin-top: 40px;
  width: calc(100% - 60px);
  background-color: #F6F6F6;
  padding: 50px 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    width: 100%;
    max-width: 335px;
    margin-top: 10px;
  }
}
.MainHome--BoxLogements .containerBox {
  width: 100%;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox {
    display: block;
  }
}
.MainHome--BoxLogements .containerBox .ImageElement {
  position: relative;
  width: 100%;
  height: 340px;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox .ImageElement {
    max-width: 335px;
    height: 255px;
    margin-top: 20px;
  }
}
.MainHome--BoxLogements .containerBox .ImageElement--image {
  position: absolute;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox .ImageElement--image {
    max-width: 335px;
    height: 255px;
  }
}
.MainHome--BoxLogements .containerBox .ImageElement:hover {
  cursor: pointer;
}
.MainHome--BoxLogements .containerBox .ImageElement .BoxShadow {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 340px;
  position: absolute;
  display: flex;
  align-items: end;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox .ImageElement .BoxShadow {
    max-width: 335px;
    height: 255px;
  }
}
.MainHome--BoxLogements .containerBox .ImageElement .BoxShadow--text {
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
.MainHome--BoxLogements .containerBox .ImageElement--link {
  position: absolute;
  width: 100%;
  height: 340px;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox .ImageElement--link {
    max-width: 335px;
    height: 255px;
  }
}

.MainAbout {
  width: calc(100% - 200px);
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .MainAbout {
    width: calc(100% - 30px);
  }
}
.MainAbout--CardTitle {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-image: url("/images/kalen-emsleybg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media screen and (max-width: 768px) {
  .MainAbout--CardTitle {
    width: 100%;
    max-width: 335px;
    height: 111px;
    border-radius: 10px;
    margin-left: 1.5px;
  }
}
.MainAbout--CardTitle .BoxShadowCard {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainAbout--CardTitle .BoxShadowCard {
    width: 100%;
    max-width: 335px;
    height: 111px;
    justify-content: start;
    border-radius: 10px;
  }
}
.MainAbout--CardTitle .BoxShadowCard--text {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6), 1px 1px black, 1px 1px black;
  font-size: 48px;
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 768px) {
  .MainAbout--CardTitle .BoxShadowCard--text {
    width: 220px;
    font-size: 24px;
    margin-left: 15px;
  }
}
.MainAbout--AboutDisplay {
  width: 100%;
  max-width: 1023px;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.MainAbout--AboutDisplay .BoxComponent {
  width: 100%;
  max-width: 1023px;
  height: 100%;
}
.MainAbout--AboutDisplay .BoxComponent--text-Icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 38px);
  max-width: 1018px;
  height: 34px;
  padding: 10px 20px 10px 15px;
  background-color: #FF6060;
  border-radius: 5px;
}
.MainAbout--AboutDisplay .BoxComponent--text-Icon .text {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.MainAbout--AboutDisplay .BoxComponent--description {
  width: calc(100% - 40px);
  padding: 0px 20px 0px 15px;
  max-width: 1018px;
  height: 0;
  margin: auto;
  font-size: 18px;
  background-color: rgb(245, 245, 245);
  position: relative;
  overflow: hidden;
}
.MainAbout--AboutDisplay .BoxComponent .AddDescription {
  animation: HeightUp 1s ease-in-out forwards;
}
.MainAbout--AboutDisplay .BoxComponent .ArrowDown:hover {
  cursor: pointer;
}
.MainAbout--AboutDisplay .BoxComponent .ArrowUp {
  animation: ArrowUpMoove 0.3s ease-in-out forwards;
}
.MainAbout--AboutDisplay .BoxComponent .ArrowDownBack {
  animation: reverse ArrowDownMoove 0.3s ease-in-out forwards;
}

.mainErrorPage {
  color: #FF6060;
  width: calc(100% - 200px);
  height: 700px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .mainErrorPage {
    width: calc(100% - 30px);
  }
}
@media screen and (max-width: 1439px) {
  .mainErrorPage {
    text-align: center;
  }
}
.mainErrorPage--number {
  font-size: 288px;
}
@media screen and (max-width: 1439px) {
  .mainErrorPage--number {
    font-size: 96px;
  }
}
.mainErrorPage--description {
  font-size: 36px;
}
.mainErrorPage--description:before {
  content: "Oups! La page que vous demandez n'existe pas.";
}
@media screen and (max-width: 1439px) {
  .mainErrorPage--description {
    width: 260px;
    font-size: 18px;
  }
  .mainErrorPage--description:before {
    content: "Oups! La page que \avous demandez n'existe pas.";
    white-space: pre;
  }
}
.mainErrorPage--redirection {
  color: black;
  font-size: 18px;
}
@media screen and (max-width: 1439px) {
  .mainErrorPage--redirection {
    font-size: 14px;
  }
}

.MainAccomodation {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation {
    width: calc(100% - 30px);
    margin: auto;
    margin-top: 50px;
  }
}
.MainAccomodation--Component {
  position: relative;
  width: calc(100% - 200px);
  margin: auto;
  height: 415px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component {
    width: 100%;
    height: 255px;
  }
}
.MainAccomodation--Component--Carousel {
  position: absolute;
  width: 100%;
  height: 415px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--Carousel {
    height: 255px;
  }
}
.MainAccomodation--Component--Carousel .img {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--Carousel .img {
    height: 255px;
  }
}
.MainAccomodation--Component--Arrow {
  position: absolute;
  width: 100%;
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--Arrow {
    height: 255px;
  }
}
.MainAccomodation--Component--Arrow .Arrow:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--Arrow .Arrow {
    width: 20px;
    height: 30px;
  }
}
.MainAccomodation--Component--Arrow .Arrow--Left {
  transform: rotate(90deg);
}
.MainAccomodation--Component--Arrow .Arrow--Right {
  transform: rotate(270deg);
}
.MainAccomodation--Component--Number {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--Number {
    height: 35px;
  }
}
.MainAccomodation--Component--Number .text {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--Number .text {
    font-size: 18px;
  }
}
.MainAccomodation--Component--About {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: calc(100% - 200px);
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About {
    width: 100%;
  }
}
.MainAccomodation--Component--About .TitleOrLocation {
  width: 76%;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .TitleOrLocation {
    width: 100%;
    order: 1;
  }
}
.MainAccomodation--Component--About .TitleOrLocation--Title {
  height: 51px;
  color: #FF6060;
  font-size: 36px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .TitleOrLocation--Title {
    height: 46px;
    font-size: 18px;
  }
}
.MainAccomodation--Component--About .TitleOrLocation--Location {
  height: 26px;
  color: black;
  font-size: 18px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .TitleOrLocation--Location {
    font-size: 14px;
  }
}
.MainAccomodation--Component--About .NameOrPicture {
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 77px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .NameOrPicture {
    height: 32px;
    margin-top: 20px;
    order: 4;
  }
}
.MainAccomodation--Component--About .NameOrPicture--Name {
  width: 93px;
  height: 52px;
  font-size: 18px;
  color: #FF6060;
  text-align: end;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .NameOrPicture--Name {
    font-size: 12px;
  }
}
.MainAccomodation--Component--About .NameOrPicture--Picture {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .NameOrPicture--Picture {
    width: 32px;
    height: 32px;
  }
}
.MainAccomodation--Component--About .tags {
  margin-top: 20px;
  width: 50%;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .tags {
    width: 100%;
    order: 2;
  }
}
.MainAccomodation--Component--About .tags .text {
  height: 20px;
  padding: 5px 20px;
  color: white;
  background-color: #FF6060;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .tags .text {
    font-size: clamp(6px, 100%, 10px);
    padding: 5px 0px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.MainAccomodation--Component--About .Star {
  margin-top: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .Star {
    width: 76%;
    order: 3;
    justify-content: start;
    gap: 5px;
  }
}
.MainAccomodation--Component--About .Star .StarIcon {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .Star .StarIcon {
    width: 13px;
    height: 14px;
  }
}
.MainAccomodation--Component--About .About3 {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .About3 {
    order: 5;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
  }
}
.MainAccomodation--Component--About .About3--Button {
  width: 100%;
  max-width: 582px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .About3--Button {
    max-width: 100%;
  }
}
.MainAccomodation--Component--About .About3 .BoxComponent {
  width: 100%;
  max-width: 1023px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .About3 .BoxComponent {
    max-width: 100%;
  }
}
.MainAccomodation--Component--About .About3 .BoxComponent--text-Icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30px);
  max-width: 582px;
  height: 32px;
  padding: 10px 20px 10px 10px;
  background-color: #FF6060;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .About3 .BoxComponent--text-Icon {
    width: calc(100% - 15px);
    padding: 10px 5px 10px 10px;
  }
}
.MainAccomodation--Component--About .About3 .BoxComponent--text-Icon .text {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .About3 .BoxComponent--text-Icon .text {
    font-size: 13px;
  }
}
.MainAccomodation--Component--About .About3 .BoxComponent--description {
  width: calc(100% - 40px);
  padding: 10px 20px 10px 15px;
  max-width: 1018px;
  height: 100%;
  margin: auto;
  font-size: 18px;
  background-color: rgb(245, 245, 245);
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .About3 .BoxComponent--description {
    max-width: 100%;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .MainAccomodation--Component--About .About3 .BoxComponent .ArrowDown {
    width: 16px;
    height: 9.14px;
  }
}
.MainAccomodation--Component--About .About3 .BoxComponent .ArrowDown:hover {
  cursor: pointer;
}
.MainAccomodation--Component--About .About3 .BoxComponent .ArrowUp {
  animation: ArrowUpMoove 0.3s ease-in-out forwards;
}
.MainAccomodation--Component--About .About3 .BoxComponent .ArrowDownBack {
  animation: reverse ArrowDownMoove 0.3s ease-in-out forwards;
}

.Footer {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 209px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Footer--text {
  position: absolute;
  color: white;
  font-size: 24px;
  bottom: 20px;
}
@media screen and (max-width: 768px) {
  .Footer--text {
    width: 133.59px;
    height: 46px;
    font-size: 12px;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}/*# sourceMappingURL=styles.css.map */