@import './modules/variables.scss';
@import './modules/header.scss';
@import './modules/mainHome.scss';
@import './modules/footer.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}