@keyframes ArrowUpMoove {
  to {
    transform: rotate(180deg);
  }
}
@keyframes ArrowDownMoove {
  to {
    transform: rotate(360deg);
  }
}
.header {
  width: calc(100% - 200px);
  height: 68px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 30px);
    height: 46.88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header svg {
    width: 145px;
    height: 46.88px;
  }
}
.header ul {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header ul {
    width: 160px;
    justify-content: space-between;
  }
}
.header ul .li {
  width: 136px;
  height: 34px;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .header ul .li {
    width: 68px;
    font-size: 12px;
    height: 19px;
  }
}
.header ul .li--text1 {
  text-decoration: none;
  color: black;
  height: 28px;
}
@media screen and (max-width: 768px) {
  .header ul .li--text1 {
    height: 14px;
    border-bottom: 1px solid black;
  }
}
.header ul .li--text1:before {
  content: "Accueil";
}
@media screen and (max-width: 768px) {
  .header ul .li--text1:before {
    content: "ACCUEIL";
  }
}
.header ul .li .blackBorder {
  border-bottom: 2px solid black;
}
.header ul .li .invisibleBorder {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.header ul .li--text2 {
  text-decoration: none;
  color: black;
  height: 28px;
}
@media screen and (max-width: 768px) {
  .header ul .li--text2 {
    height: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
}
.header ul .li--text2:before {
  content: "A Propos";
}
@media screen and (max-width: 768px) {
  .header ul .li--text2:before {
    content: "A PROPOS";
  }
}

.MainHome {
  width: calc(100% - 200px);
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .MainHome {
    width: calc(100% - 30px);
  }
}
.MainHome--CardTitle {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-image: url("/images/eric_muhrbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media screen and (max-width: 768px) {
  .MainHome--CardTitle {
    width: 100%;
    max-width: 335px;
    height: 111px;
    border-radius: 10px;
    margin-left: 1.5px;
  }
}
.MainHome--CardTitle .BoxShadowCard {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainHome--CardTitle .BoxShadowCard {
    width: 100%;
    max-width: 335px;
    height: 111px;
    justify-content: start;
    border-radius: 10px;
  }
}
.MainHome--CardTitle .BoxShadowCard--text {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6), 1px 1px black, 1px 1px black;
  font-size: 48px;
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 768px) {
  .MainHome--CardTitle .BoxShadowCard--text {
    width: 220px;
    font-size: 24px;
    margin-left: 15px;
  }
}
.MainHome--BoxLogements {
  margin-top: 40px;
  width: calc(100% - 60px);
  background-color: #F6F6F6;
  padding: 50px 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    width: 100%;
    max-width: 335px;
    margin-top: 10px;
  }
}
.MainHome--BoxLogements .containerBox {
  width: 100%;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox {
    display: block;
  }
}
.MainHome--BoxLogements .containerBox .ImageElement {
  position: relative;
  width: 100%;
  height: 340px;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox .ImageElement {
    max-width: 335px;
    height: 255px;
    margin-top: 20px;
  }
}
.MainHome--BoxLogements .containerBox .ImageElement--image {
  position: absolute;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox .ImageElement--image {
    max-width: 335px;
    height: 255px;
  }
}
.MainHome--BoxLogements .containerBox .ImageElement:hover {
  cursor: pointer;
}
.MainHome--BoxLogements .containerBox .ImageElement .BoxShadow {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 340px;
  position: absolute;
  display: flex;
  align-items: end;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox .ImageElement .BoxShadow {
    max-width: 335px;
    height: 255px;
  }
}
.MainHome--BoxLogements .containerBox .ImageElement .BoxShadow--text {
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
.MainHome--BoxLogements .containerBox .ImageElement--link {
  position: absolute;
  width: 100%;
  height: 340px;
}
@media screen and (max-width: 768px) {
  .MainHome--BoxLogements .containerBox .ImageElement--link {
    max-width: 335px;
    height: 255px;
  }
}

.MainAbout {
  width: calc(100% - 200px);
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .MainAbout {
    width: calc(100% - 30px);
  }
}
.MainAbout--CardTitle {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-image: url("/images/kalen-emsleybg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media screen and (max-width: 768px) {
  .MainAbout--CardTitle {
    width: 100%;
    max-width: 335px;
    height: 111px;
    border-radius: 10px;
    margin-left: 1.5px;
  }
}
.MainAbout--CardTitle .BoxShadowCard {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .MainAbout--CardTitle .BoxShadowCard {
    width: 100%;
    max-width: 335px;
    height: 111px;
    justify-content: start;
    border-radius: 10px;
  }
}
.MainAbout--CardTitle .BoxShadowCard--text {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6), 1px 1px black, 1px 1px black;
  font-size: 48px;
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 768px) {
  .MainAbout--CardTitle .BoxShadowCard--text {
    width: 220px;
    font-size: 24px;
    margin-left: 15px;
  }
}
.MainAbout--AboutDisplay {
  width: 100%;
  max-width: 1023px;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.MainAbout--AboutDisplay .BoxComponent {
  width: 100%;
  max-width: 1023px;
  height: 100%;
}
.MainAbout--AboutDisplay .BoxComponent--text-Icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 38px);
  max-width: 1018px;
  height: 34px;
  padding: 10px 20px 10px 15px;
  background-color: #FF6060;
  border-radius: 5px;
}
.MainAbout--AboutDisplay .BoxComponent--text-Icon .text {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.MainAbout--AboutDisplay .BoxComponent--description {
  width: calc(100% - 40px);
  padding: 10px 20px 10px 15px;
  max-width: 1018px;
  height: 100%;
  margin: auto;
  font-size: 18px;
  background-color: rgb(245, 245, 245);
}
.MainAbout--AboutDisplay .BoxComponent .ArrowDown:hover {
  cursor: pointer;
}
.MainAbout--AboutDisplay .BoxComponent .ArrowUp {
  animation: ArrowUpMoove 0.3s ease-in-out forwards;
}
.MainAbout--AboutDisplay .BoxComponent .ArrowDownBack {
  animation: ArrowDownMoove 0.3s ease-in-out forwards;
}

.mainErrorPage {
  color: #FF6060;
  width: calc(100% - 200px);
  height: 700px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .mainErrorPage {
    width: calc(100% - 30px);
  }
}
@media screen and (max-width: 1439px) {
  .mainErrorPage {
    text-align: center;
  }
}
.mainErrorPage--number {
  font-size: 288px;
}
@media screen and (max-width: 1439px) {
  .mainErrorPage--number {
    font-size: 96px;
  }
}
.mainErrorPage--description {
  font-size: 36px;
}
.mainErrorPage--description:before {
  content: "Oups! La page que vous demandez n'existe pas.";
}
@media screen and (max-width: 1439px) {
  .mainErrorPage--description {
    width: 260px;
    font-size: 18px;
  }
  .mainErrorPage--description:before {
    content: "Oups! La page que \avous demandez n'existe pas.";
    white-space: pre;
  }
}
.mainErrorPage--redirection {
  color: black;
  font-size: 18px;
}
@media screen and (max-width: 1439px) {
  .mainErrorPage--redirection {
    font-size: 14px;
  }
}

.Footer {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 209px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Footer--text {
  position: absolute;
  color: white;
  font-size: 24px;
  bottom: 20px;
}
@media screen and (max-width: 768px) {
  .Footer--text {
    width: 133.59px;
    height: 46px;
    font-size: 12px;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.ArrowDown {
  width: 40px;
  fill: white;
}/*# sourceMappingURL=styles.css.map */